


#main-heading{
    
    background-color: skyblue;
    margin-top: 20%;
    padding-bottom: 10px;
    text-align: center;

}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
    width: 50px;
}